:root {
    --main-color: rgb(255, 111, 0)
}

body {
    background-color: var(--main-color);
    margin: 0;
}


.header-image h2 {
    font-size: 5rem;
}


header h1 {
    letter-spacing: 0.1rem;
    font-size: 6rem;
    font-family: 'Dela Gothic One', cursive;
    color: black;
    text-align: center;
}

.header-image {
    background-image: url("./src/Tonkotsu-Ramen-FT-BLOG1122-8fe6c12d609a4fd4ab246bea3aae140e.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50rem;
    display: flex;
    align-content: center;
    justify-content: center;
    overflow-x: hidden;
}


.japanese-container {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 100px;
}
.japanese-text {
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-family: 'M PLUS 1p', sans-serif;

}

.slogan {

    font-family: 'Dela Gothic One', cursive;
    font-size: 6rem;
    letter-spacing: 0.1rem;
    margin: 150px 0px;
    color: black;
    text-align: center;
}


.footer-image {
    background-image: url("src/03153307-gettyimages-1400840028_cover_1600x1067.webp");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;


}

.footer-image p {
    margin-top: 20px;
    font-family: 'Dela Gothic One', cursive;
    color: white;
    font-size: 6rem;
    text-align: center;
}



.ramen-recipes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 15px;
    gap: 15px;
    flex-wrap: wrap;
}

.ramen-bowl { 
    display: flex;
    flex-direction: column;
}

.ramen-bowl img {
width: 100%;
    height: 600px;
    object-fit: cover;
}

.ramen-bowl h2 {
    font-family: 'Dela Gothic One', cursive;
        font-size: 1.5rem;
        margin: 10px 0 ;
}

.ramen-bowl ul {
font-family: 'Noto Sans JP', sans-serif;
    margin-top: 0px;
    list-style: none;
}

.ramen-bowl li::before {
    content: "- ";}







@media (max-width: 1362px) {
    .japanese-container {
        text-align: center;
        margin-top: 350px;
    }
    .header-image h2 {
        font-size: 4rem;
    }
    .slogan {
        font-size: 4rem;
    }
    .ramen-recipes {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (max-width: 843px) {
    header h1 {
        font-size: 4rem;
    }
        .slogan {
            font-size: 3rem;
        }
        .header-image h2 {
            font-size: 3.5rem;
            color: white;
            align-items: center;
        }
        .ramen-recipes img {
            height: 400px;
        }
       

}